<div class="admin_header">
  <h1>Articles</h1>
  <ul>
    <li><%= link_to "All", admin_articles_path, class: header_link_class(admin_articles_path) %></li>
    <li><%= link_to "Published", published_admin_articles_path, class: header_link_class(published_admin_articles_path) %></li>
    <li><%= link_to "Draft", draft_admin_articles_path, class: header_link_class(draft_admin_articles_path) %></li>
    <li><%= link_to "Scheduled", scheduled_admin_articles_path, class: header_link_class(scheduled_admin_articles_path) %></li>
  </ul>
</div>

<div class="component">
  <div class="component-heading">Post Listings<div class="float-end"><%= link_to new_admin_article_path do  %><%= icon 'fas', "plus" %><%end %></div></div>
    <% @articles.order("created_at DESC").each do |article| %>
      <article class="component-item">
        <header>
          <h3><%= article.title %><br>
            <small>
              <%= icon 'fas', 'calendar' %>
              <%= article.published_at&.strftime("%B %d, %Y") %>
            </small>
          </h3>
        </header>
        <section class="listingBody">
          <%= article.body.to_plain_text.truncate(700) %>
        </section>
        <footer>
          <%= link_to 'Read More', admin_article_path(article), class: "btn btn-primary", data: {disable_with: "Loading..."} %>
        </footer>
      </article>
    <% end %>
</div>

