<h1>Our Insights</h1>
<p>
  Here we keep you updated on matters of interest in our practice areas.
</p>
<p>
  The articles listed on this website are for informational and discussion purposes and should not be construed as the giving of legal advice.
  Should you require advice on your specific situation, please do not hesitate to <%= link_to "contact us", contact_path %>.
</p>
<div id="postListings">
    <% @articles.order("created_at DESC").each do |article| %>
    <article class="postListing">
      <header>
        <h3><%= article.title %><br>
          <small>
            <span class="glyphicon glyphicon-calendar"></span>
            <%= article.published_at&.strftime("%B %d, %Y") %>
          </small>
        </h3>
      </header>
      <section class="listingBody">
        <%= article.body.to_plain_text.truncate(700) %>
      </section>
      <footer>
        <%= link_to 'Read More', article_path(article), class: "btn btn-primary", data: {disable_with: "Loading..."} %>
      </footer>
    </article>
    <% end %>
  </div>
