<%= render 'articles/fb_sdk' %>
<% provide(:title, @article.title) %>
<% if @article.published %>
  <% provide :article_schema do %>
    <%= render 'articles/schema' %>
  <% end %>
<% end %>

<div class="container-fluid">

<div class="page-header">
  <h1><%= @article.title %><br>
    <small><%= @article.subtitle %> </small>
  </h1>
  <%= icon 'fas', 'calendar' %> <%= @article.date.strftime("%B %d, %Y") %>
</div>
<div class="row">
  <div class="container-fluid" id="mainPost">
    <%= @article.body %>
  </div>
</div>
</div>
