<%= render 'articles/fb_sdk' %>
<% provide(:title, @article.title) %>
<% if @article.published %>
  <% provide :article_schema do %>
    <%= render 'articles/schema' %>
  <% end %>
<% end %>

<div class="container-fluid">

<div class="page-header">
  <h1><%= @article.title %><br>
    <small><%= @article.subtitle %> </small>
  </h1>
  <%= icon 'fas', 'calendar' %> <%= @article.date.strftime("%B %d, %Y") %>
  <%= link_to 'Edit Post', edit_post_path(@article), class: "btn btn-info btn-sm" if user_signed_in? %>
</div>
<div class="row">
  <div class="container-fluid" id="mainPost">
    <%= @article.body %>
  </div>
  <% if @article.published %>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
    </div>
  <% end %>
</div>
</div>
