<h1>New Attorney Profile</h1>


<%= simple_form_for(@profile, url: admin_profiles_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :avatar, label: 'Profile Picture', as: :file, direct_upload: true %>

      </div>
      <div class="col-sm-8">
        <%= f.input :title %>
        <%= f.input :bio, as: :rich_text_area %>
        <%= f.input :bar_admissions  %>
        <%= f.input :education %>
        <%= f.input :expertise %>
        <%= f.input :vcard, as: :file, direct_upload: true %>
        <%= f.input :email %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to profiles", admin_profiles_path %>
</div>
