<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <%= link_to "Edit this profile", edit_admin_profile_path(@profile) %> |
  <%= link_to "Back to profiles", admin_profiles_path %>

  <%= button_to "Destroy this profile", admin_profile_path(@profile), method: :delete %>
</div>
