<footer id="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <nav id="footer-nav">
          <ul class="nav flex-column">
            <li class='nav-item'><%= link_to 'Home', '#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'About Us', '#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Practice Areas', '#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Insights', '#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Contact Us','#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Terms & Conditions', '#', class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Privacy Policy', '#', class: 'nav-link' %></li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-6">
        <address>
          <strong>Street Address:</strong><br>
          #3 Princes Street<br>
          P.O. Box 1936<br>
          Basseterre, Saint George<br>
          Saint Kitts and Nevis<br>
          Tel: (869) 665-8936
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="legal-information">
          Copyright &copy; <%= Date.current.year %> Dane Elliott-Hamilton. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
