<footer id="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <nav id="footer-nav">
          <ul class="nav flex-column">
            <li class='nav-item'><%= link_to 'Home', root_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'About Us', about_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Practice Areas', practice_areas_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Insights', articles_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Contact Us', contact_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Privacy Policy', privacy_path, class: 'nav-link' %></li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4 col-12">
            <address>
              <strong>Saint Kitts & Nevis Office:</strong><br>
              Suite C23, The Sands<br>
              Bay Road<br>
              P.O. Box 1936<br>
              Basseterre, Saint George<br>
              Saint Kitts and Nevis<br>
              Tel: <%= link_to "(869) 466-3529", "tel:8694663529" %>
            </address>
          </div>
          <div class="col-sm-4 col-12">
            <address>
              <strong>Saint Lucia Office:</strong><br>
              McVane Drive<br>
              P.O. Box 1396<br>
              Castries<br>
              Saint Lucia<br>
              Tel: <%= link_to "(758) 572-3529", "tel:7585723529" %>
            </address>
          </div>
          <div class="col-sm-4 col-12">
            <address>
              <strong>Antigua & Barbuda Office:</strong><br>
              Sutherlands<br>
              St. John's<br>
              Antigua & Barbuda<br>
              Tel: <%= link_to "(268) 462-3529", "tel:2684623529" %>
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="legal-information">
          Copyright &copy; 2022 - <%= Date.current.year %> Dane Elliott-Hamilton. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
